
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.8); 
    padding: 10px 20px;
    position: fixed; 
    width: 100%;
    z-index: 1000; 
  }
  
  .navbar__logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar__link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: ;
    transition: background-color 0.3s;
  }
  
  .navbar__link:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar__links {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .navbar__link {
      width: 100%;
      text-align: left;
    }
  }
  
